<link rel="stylesheet" href="{{ 'new-header.css' | asset_url }}" media="print" onload="this.media='all'">
<header class="new-header">
  <div class="container">
    <nav class="new-header__nav">
        <div class="new-header__nav">logo</div>
      <ul class="new-header__menu">
        {% for link in linklists.main-menu.links -%}
            <li class="new-header__menu-item">{{ link.title | link_to: link.url }}
                </li>
          {%- endfor %}
      </ul>
      <div class="new-header__menu-item">icons</div>
    </nav>
  </div>
</header>

{% schema %}
    {
      "name": "New Header",
      "settings": [],
{
    "type":"image_picker",
    "id":"logo",
    "label":"select logo"
},
{
    "type":"link_lists",
    "id"   :"menu",
    "label":"select menu"
}

      "presets": [
        {
          "name": "New Header",
          "category": "Header"
        }
      ]
    }
    {% endschema %}
    